.container {
  height: calc(100vh - 100px);
  margin: 50px auto;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  height: auto;
  transition: width 0.5s ease, height 0.5s ease, padding 0.5s ease;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.before-upload, .after-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

input[type="file"] {
  margin: 10px 0;
}

.image-preview img {
  width: 300px;
  height: auto;
  /* margin-top: 20px; */
}

.progress-bar {
  width: 550px;
  background-color: #f3f3f3;
  border-radius: 10px;
  height: 15px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  width: 0;
  border-radius: 10px;
  transition: width 0.5s;
}
.btnUpload {
  background-color: black;
  margin-bottom: 10px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.result h2 {
  margin: 0;
}

.column {
  box-sizing: border-box;
}

.item {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 2.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}