.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 100px);
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(60vh + 50px);
    border-bottom: #111 solid 1px;
    padding: 10px;
  }
  .content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 130px;
  }
  .btnResult {
    background-color: black;
    width: 150px;
    height: 50px;
  }
  .txt-box {
    width: 600px;
    margin-left: 50px;
  }
  img {
    height: 400px;
    width: 450px;
    object-fit: scale-down;
  }
  @media (max-width: 1366px) {
    /* For smaller notebook monitors */
    h2 {
      font-size: 20px; /* Adjust the font size for smaller notebook monitors */
      line-height: 1.1; /* Adjust the line height for smaller notebook monitors */
    }
  }
  
  @media (min-width: 1367px) and (max-width: 1600px) {
    /* For medium-sized notebook monitors */
    h2 {
      font-size: 22px; /* Adjust the font size for medium-sized notebook monitors */
      line-height: 1.2; /* Adjust the line height for medium-sized notebook monitors */
    }
  }
  
  @media (min-width: 1601px) {
    /* For larger notebook monitors */
    h2 {
      font-size: 24px; /* Adjust the font size for larger notebook monitors */
      line-height: 1.2; /* Adjust the line height for larger notebook monitors */
    }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container h2 {
    margin: 0;
  }
  
  .column {
    box-sizing: border-box;
  }
  
  .item {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 2.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  