<div class="main">
  <div class="header">
    <h1>Chest Radiograph AI Diagnostic Tool</h1>
  </div>
  <img src="/assets/diag-mockup.png" alt="" />
  <!-- <div class="footer">
    <button
      mat-raised-button
      class="btnStart txtLight"
      routerLink="/diagnostic/upload"
    >
      Start Diagnostic
    </button>
  </div> -->
  <div class="container">
    <!-- <h1>Chest Radiograph AI Diagnostic Tool</h1> -->
    <div class="content">
      <!-- <mat-card appearance="outlined"> -->
      <!-- Before Upload Section -->
      <div *ngIf="!uploaded" class="before-upload">
        <h2>Upload Chest X-ray</h2>
        <input
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
          style="display: none"
        />

        <button
          mat-raised-button
          class="btnUpload txtLight"
          (click)="fileInput.click()"
          [disabled]="uploaded"
          [class.disabled-button]="!file"
        >
          Upload
        </button>
        <p>Please upload a chest X-ray image for analysis.</p>
      </div>

      <!-- After Upload Section -->
      <div *ngIf="uploaded" id="result" class="after-upload">
        <div class="result_content_left">
          <h2>Analyzing Image</h2>
          <div class="image-preview">
            <img [src]="imageSrc" alt="Uploaded X-ray" />
            <button mat-icon-button class="center-button" (click)="onPressedReset()">
              <mat-icon>restart_alt</mat-icon>
            </button>
          </div>
          <p *ngIf="!progressed">Analysis in progress...</p>
          <p *ngIf="progressed">Analyzed</p>
          <!-- <div class="progress-bar">
            <div class="progress" [style.width]="progress + '%'"></div>
          </div> -->
        </div>
        <div *ngIf="progressed" class="result_content_right">
          <h1 style="font-weight: bold; margin-top: 20px">[RESULT]</h1>
          <h2 style="text-align: start">
            {{ diagnosticMessage.message }}
          </h2>
          <div class="result">
            <div
              class="column"
              *ngFor="
                let item of diagnosticMessage.diagnosticList;
                let even = even
              "
            >
              <div class="item">
                <b>{{ item.diagno }}</b>
                <h2
                  [ngStyle]="{
                    'font-weight': 'bold',
                    color:
                      item.prop >= 0.8
                        ? 'red'
                        : item.prop > 0.5
                        ? '#02b602'
                        : 'black'
                  }"
                >
                  {{ calculate_prop(item.prop) }}
                </h2>
              </div>
            </div>
          </div>
          <span style="text-align: start; margin-top: 5px;"
            ><b>Note that:</b> {{ diagnosticMessage.warningMessage }}</span
          >
        </div>
        <div class="loading-spinner" *ngIf="!progressed"></div>
      </div>
    </div>
    <!-- </mat-card> -->
  </div>
</div>
